.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 100px;

    div.content {
        width: 60vw;

        div.scoreLine {
            font-size: medium;
            width: 100%;
            margin-top: 20px;

            div {
                display: inline-block;
            }

            div.currentScore,
            div.totalScore {
                text-align: left;
                width: 40%;
            }

            div.scoreButtons {
                text-align: right;
                width: 20%;
            }
        }
    }
}
